<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>

</head>
<h4>{{{__ "cproduct"}}}</h4>
<a class="btn btn-primary" href="/category">{{{__ "allpro"}}}</a>
<br>
<br>
{{#if errors}}
    {{#each errors}}
        <p class="alert alert-danger">{{this.msg}}</p>
    {{/each}}
{{/if}}

<form  action="/category/ccreate" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{token}}">
    <div class="form-group mb-2">
        <label for="category">{{{__ "category"}}}</label>
        <input type="text" name="category" class="form-control" id="category">
    </div>
    <div class="form-group mb-2">
        <label for="">{{{__ "status"}}}</label><br>
        <input type="radio" id="active" name="status" value="active">
        <label for="active">Active</label><br>
        <input type="radio" id="deactive" name="status" value="deactive">
        <label for="deactive">DeActive</label>
    </div>
    <div class="form-group mb-2">
        <label for="image">{{{__ "pimg"}}}</label>
        <input type="file" name="image" value="" class="form-control" id="image">
    </div>
    <div class="form-group mb-2">
<!--        <input type="radio" id="category" name="parent_id" value="0">-->
<!--        <label>Parent_id</label><br>-->
<!--        <input type="radio" id="category" name="parent_id" value="1">-->
        <label for="category">Sub-Category</label>
        <select name="parent_id" id="category" class="form-control">
            {{#each category}}
                <option value="{{id}}">{{category}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">{{{__ "cproduct"}}}</button>
</form>
</html>
<!--<script>-->
<!--    Handlebars.registerHelper('for', function(from, to, incr, block) {-->
<!--        var accum = '';-->
<!--        for(var i = from; i < to; i += incr)-->
<!--            accum += block.fn(i);-->
<!--        return accum;-->
<!--    });-->
<!--</script>-->