 <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Management System</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                 {{!-- <div class="navbar-nav">
                <a href="/users/create" class="nav-item nav-link">Create</a>
            </div> --}}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Action</a>
                    <div class="dropdown-menu">
                        <a href="/users" class="dropdown-item">Users</a>
                        <a href="/products" class="dropdown-item">Products</a>
                        <a href="#" class="dropdown-item">Other</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Change Language</a>
                    <div class="dropdown-menu" id="google_translate_element">
                        <a href="/en" class="dropdown-item">English</a>
                        <a href="/nl" class="dropdown-item">Norway</a>
                        <a href="#" class="dropdown-item">Other</a>
                    </div>
            </div>
            </div>
            {{!-- <form class="form-inline">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form> --}}
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link">Logout</a>
            </div>
            
        </div>
    </nav>
<br>
<h4>{{{__ "cruser"}}}</h4>
<a class="btn btn-primary" href="/">{{{__ "aluser"}}}</a>
<br>
<br>
<form action="/users/create" method="POST">
  <div class="form-group mb-2">
    <label for="name">{{{__ "name"}}}</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>
  <div class="form-group mb-2">
    <label for="username">{{{__ "uname"}}}</label>
    <input type="text" name="username" class="form-control" id="username">
  </div>
  <div class="form-group mb-2">
    <label for="password">{{{__ "pwd"}}}</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">{{{__ "cruser"}}}</button>

</form>