<head>
   <link href="assets/css/bootstrap.min.css" rel="stylesheet">
            <link href="assets/css/style.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" /> 
</head>
 <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">{{__ "manasys"}}</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{__ "act"}}</a>
                    <div class="dropdown-menu">
                        <a href="/users" class="dropdown-item">{{__ "users"}}</a>
                        <a href="/products" class="dropdown-item">{{__ "products"}}</a>
                    </div>
                </div>
                  <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{__ "clang"}}</a>
                    <div class="dropdown-menu" id="google_translate_element">
                        <a href="/en" class="dropdown-item">English</a>
                        <a href="/nl" class="dropdown-item">Norway</a>
                    </div>
            </div>
            </div>
            <div class="navbar-nav">
                <a href="/logout" class="nav-item nav-link">{{__ "logout"}}</a>
            </div>
            
        </div>
    </nav>
<br>
<h4>{{{__ "aluser"}}}</h4>
<a class="btn btn-primary" href="/users/create">{{{__ "cruser"}}}</a><br><br>
<table class="table table-bordered" id="data"  style="width:100%">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">{{{__ "name"}}}</th>
      <th scope="col">{{{__ "uname"}}}</th>
      <th scope="col">{{{__ "act"}}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.username}}</td>
      <td>
        <a class="btn btn-success" href="/users/edit/{{this.id}}">{{__ "edit"}}</a>
        <a class="btn btn-primary" href="/users/delete/{{this.id}}">{{__ "dlt"}}</a>
      </td>
    </tr>
   {{/each}}
  </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#data').DataTable();
} );
</script>