 <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Management System</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/users/create" class="nav-item nav-link">Create</a>
               
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link">Login</a>
            </div>
            
        </div>
    </nav>
</div>
<br>
<h4>{{{__ "louser"}}}</h4>
<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">

     {{# if errors }}
    {{# each errors }}
          <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
{{/if}}

        <form method="POST" action="/">

            <div class="form-group mb-2">
    <label for="username">{{{__ "uname"}}}</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group mb-2">
    <label for="password">{{{__ "pwd"}}}</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-primary mb-2" href="/">{{{__ "louser"}}}</button>
  
        </form>
        
    </div>
</div>