<html>
<body>
   <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Management System</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                 {{!-- <div class="navbar-nav">
                <a href="/users/create" class="nav-item nav-link">Create</a>
            </div> --}}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Action</a>
                    <div class="dropdown-menu">
                        <a href="/users" class="dropdown-item">Users</a>
                        <a href="/products" class="dropdown-item">Products</a>
                        <a href="#" class="dropdown-item">Other</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Change Language</a>
                    <div class="dropdown-menu" id="google_translate_element">
                        <a href="/en" class="dropdown-item">English</a>
                        <a href="/nl" class="dropdown-item">Norway</a>
                        <a href="#" class="dropdown-item">Other</a>
                    </div>
            </div>
            </div>
            {{!-- <form class="form-inline">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form> --}}
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link">Logout</a>
            </div>
            
        </div>
    </nav>
<h4> {{{__ "allpro"}}}</h4>
<a class="btn btn-primary" href="/products/pcreate">{{{__ "cproduct"}}}</a>
<div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Download</a>
                    <div class="dropdown-menu" id="google_translate_element">
                        <a href="/products/download" class="dropdown-item">CSV Format</a>
                        <a href="/products/xlsx" class="dropdown-item">XLSX Format</a>
                    </div>
            </div>
<table class="table table-bordered" id="pro" style="width:100%">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">{{{__ "pname"}}}</th>
      <th scope="col">{{{__ "pnumber"}}}</th>
      <th scope="col">{{{__ "desc"}}}</th>
      <th scope="col">{{{__ "pimg"}}}</th>
      <th scope="col">{{{__ "category"}}}</th>
      <th scope="col">{{{__ "price"}}}</th>
      <th scope="col">{{{__ "strat_date"}}}</th>
      <th scope="col">{{{__ "end_date"}}}</th>
      <th scope="col">{{{__ "status"}}}</th>
      <th scope="col">{{{__ "act"}}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.pnumber}}</td>
      <td>{{this.description}}</td>
      <td>{{this.image}}</td>
      <td>{{this.category}}</td>
      <td>{{this.price}}</td>
      <td>{{this.start_date}}</td>
      <td>{{this.end_date}}</td>
      <td>{{this.status}}</td>
      <td>
        <a class="btn btn-success" href="/products/pedit/{{this.id}}">{{{__ "edit"}}}</a><br> <br>
        <a class="btn btn-primary" href="/products/delete/{{this.id}}">{{{__ "dlt"}}}</a><br> <br>
      </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#pro').DataTable()
 });
</script>
</html>